body {
	margin: 100px 100px;
	width: 960px;
	border-bottom: 3px solid black;
	border-top: 3px solid black;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

h1 {
	text-align: center;
	font-family: 'Abril Fatface', cursive;
	text-transform: uppercase;
}

h3 {
	color: green;
}

.column {
	width: 150px;
	float: left;
	padding: 20px;
	margin: 0 0 30px 0;
	text-align: center;
	border-right:2px solid black;
	border-left: 2px solid black;
}

.sectionHead {
	color: purple;
	text-decoration: underline;
	text-decoration-color: purple;
}

th, td {
	outline: 1px solid black;
	padding: 14px;
}

img {
	border: 1px solid black;
}

iframe {
	margin: 0 0 30px 0;
}

